{{ define "base" }}
<!doctype html>
<html>
	<head>
		<title>Quorums</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/public/images/favicon.ico" />
		<!-- <link href="/public/stylesheets/app.css"
		      media="screen, projection" rel="stylesheet"> -->
	</head>
	<body>
        {{ template "content" . }}

        <!-- <script src="/public/javascripts/app.js"></script> -->
	</body>
</html>
{{ end }}
