{{ define "content" }}
<form method="POST" action="/users/register">
    <input type="text" name="firstname">
    <input type="text" name="lastname">
    <input type="text" name="email">
    <input type="text" name="password">
    <input type="submit" value="Register">
</form>
{{ end }}
